# App
APP_PORT=3001
NODE_ENV=local
JWT_SECRET=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=theab_ka
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# S3 / Storage
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=theab-ka-assets
S3_CDN_URL=

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:3000
